* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* setting base colors for the webpage */

/*base theme colors*/
:root {
  --base-background: #000000;
  --base-muted-foreground: #35343a;
  --base-muted-foreground-2: #1f1f1f;
  --base-muted-foreground-3: #949393;
  --base-foreground: #ffffff;
  --base-theme-1: #c71622;
}

body {
  background-color: var(--base-background);
  color: var(--base-foreground);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  color: var(--base-theme-1);
}

/* styling the header section */
header {
  display: flex;

  justify-content: space-between;
  position: absolute; /*make the header section float for position abover the hero section*/
  padding: 20px 50px;
  left: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    black,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
}

/*header logo text*/
header h1 {
  color: var(--base-theme-1);
  font-size: 50px;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

#hero {
  display: flex;
  width: 100%;
  height: 600px;
  background-image: url("img/extraction.jpg");
  background-size: cover; /*makes image cover evenly the hero section*/
  background-position: center; /* centers the image in the hero section*/
  padding: 50px;
  align-items: center;
}

/* hero contents styling */
.container {
  display: flex;
  flex-direction: column; /* place contents in a column position*/
  max-width: 600px;
  margin-top: 10rem;
}

.container h1 {
  font-size: 70px;
}

.container p {
  line-height: 1.6;
  margin-bottom: 40px;
  font-size: large;
  margin-top: 20px;
}

/* styling the call to action button */
.btn a {
  background-color: var(--base-theme-1);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 20px;
  transition: transform 0.3s ease;
  display: inline-block; /*gives the link the ability to be scaled*/
}

/* call to action button hover effect */
.btn a:hover {
  transform: scale(1.1); /*slight increase to button when hovering*/
  box-shadow: 0 0 15px 5px rgba(199, 22, 34, 0.5);
}

/*styling the movie genre text*/
.genre {
  font-weight: 400;
  margin-bottom: 30px;
}

nav {
  font-size: 25px;
}

/* hover styles to links */
nav li:hover {
  color: var(--base-theme-1);
}

/* movies list */
#movies {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

/* entire container of the movies list */
.movies-container {
  max-width: 960px;
}

.movies-container h1 {
  text-align: center;
  font-size: 40px;
}

.movie {
  display: flex;
  margin-top: 60px;
  border-radius: 20px;
  background-color: rgb(37, 37, 37, 0.3);
  padding: 20px;
  box-shadow: 0 4px 60px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

/*hover styles over the movie card*/
.movie:hover {
  transform: scale(105%);
  background-color: var(--base-muted-foreground-2);
  cursor: pointer;
}

.movie-list {
  margin-top: 80px;
  background: linear-gradient(135deg, #0e0e0f, #1a1920, #1e1e1f);
  border-radius: 20px;
  box-shadow: 0 60px 20px 20px rgba(0, 0, 0, 1);
  padding: 50px;
}

/*styling container for each movies genre*/
.movies-list-box {
  margin-top: 60px;
}

/*styling container for the fav category selection*/
.fav-movie {
  display: flex;
  gap: 30px;
  font-size: 20px;
  margin-bottom: 50px;
  background-color: var(--base-muted-foreground-2);
  border-radius: 20px;
  padding: 20px;
}

/* styling fav movie category text*/

.fav-movie a {
  transition: all 0.3s ease-in-out;
  color: var(--base-foreground);
  text-decoration: none;
  display: inline-block; /*allow text to scale without affecting surrounding blocks*/
  padding: 10px;
  border-radius: 20px;
}

.fav-movie a:hover {
  background-color: var(--base-theme-1);
  transform: scale(1.1);
}
/*styling for genre category sub-heading*/
.movie-list h4 {
  margin-top: 20px;
  font-size: 30px;
  color: rgb(155, 155, 155);
}

/*styling contents of the movie block containter*/
.movie-title {
  margin-right: 30px;
  margin-left: 30px;
}

.movie-title h2 {
  margin-bottom: 20px;
}

.movie-title p {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--base-muted-foreground-3);
}

.movie-title span {
  font-size: 20px;
}

.price {
  font-size: 25px;
}

.menu-icon {
  color: var(--base-foreground);
  font-size: larger;
  display: none;
}

/* mobile screen view */
@media (max-width: 600px) {
  nav ul {
    display: none; /*removes the nav links*/
  }

  header h1 {
    font-size: 30px;
  }

  .container {
    max-width: 300px;
  }

  .container p {
    max-width: 250px;
  }

  .movie-title {
    margin: 0 30px;
    flex: 1;
  }

  .movie-list {
    margin: 20px;
  }

  .movies-list-box p {
    display: none;
  }

  .movies-list-box img {
    width: 50px;
  }

  .movies-list-box h2 {
    font-size: 20px;
  }

  .price {
    font-size: 15px;
    margin-left: 50px;
  }

  .menu-icon {
    display: block;
  }
}

/*Tablet view styling*/
@media (max-width: 1024px) {
  .container {
    max-width: 400px;
  }

  nav ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
